body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * {
  font-size: 1rem;
} */
* {
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.homeLogo {
  width: 170px;
  padding: 20px;
}
.HomeContainer {
  height: 100vh;
  color: white;
  background: #000;
}
.borders {
  border: 1px solid white;
}

.mainCol {
  height: calc(100vh - 70px);
}
/* .bg {
  background-color: #d1d5dd;
} */
.displayModelRow1 span {
  color: white;
}
.textSize {
  font-size: 0.8rem;
  color: white;
}

.btns {
  font-size: 0.5rem;
  background-color: #5d5c5c;
  border: none;
}
.Color {
  background-color: #5d5c5c;
  border: none;
}
